<_within file="application.html">
  <div id="login-view">
    <div class="row">
      <div class="span6 offset2">
        <div id="login-form">
          <h1>Task-a-lator-inator</h1>
          <form class="well">
            <label id="username-label">
              <span>Username</span>
              <input id="username" size="30" type="text"/>
            </label>

            <label id="password-label">
              <span>Password</span>
              <input id="password" size="30" type="password"/>
            </label>

            <input id="login-button" class="btn-primary"
                   type="button" value="Log In">
          </form>
        </div>
      </div>
    </div>
  </div>
</_within>
