<_within file="application.html">
  <div id="content">
    <div id="tasks-view">
      <div class="row">
        <div class="span6 offset2">
          <div id="task-form">
            <h1>Task-a-lator-inator</h1>
            <form class="well">
              <label id="task-input-label">
                <span>Enter task description</span>
                <input id="task-input" size="30" type="text"/>
              </label>
              <input id="task-button" class="btn-primary" type="button" value="Add!">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset2">
          <div>
            <ul id="task-list">
              <li id="task-123" class="not-completed">
                <input type="checkbox">
                A Task
              </li>
              <li id="task-124" class="completed">
                <input type="checkbox" checked="checked">
                A Completed Task
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</_within>
